@import '../style/app.variables';

// ******************************************************
// 
//  Apply Component
// 
// ******************************************************

.apply {
    height: 100%;

    .content {
        height: 80%;
        width: 80%;

        margin: 0 auto;
        padding-top: 20px;

        div {
            height: 100%;
            width: 100%;
            background-color: grey;
        }
    }
}