<div class="container-fluid apply" *ngIf="isLoaded; else loading">
    <div class="row content">
        <div class="col-lg-6 col-md-12">
            <img [src]="img" alt="va property">
            <div class="img-box">
                <p class="text-center">
                    {{img_title}}
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 text-box text-center">
            <h1 class="header ">
                {{title}}
            </h1>
            <p class="text-grey">
                {{description}}
            </p>
            <button class="btnGreen" (click)="applyBtn()">Apply Now</button>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="loader-wrapper" style="height: 50vh">
      <div class="loader">
        <mat-spinner></mat-spinner>
      </div>
    </div>
</ng-template>