@import '../style/app.variables';

// ******************************************************
// 
//  Appointment Component
// 
// ******************************************************


// .services-container {
//     height: 130vh !important;
// }

.appt {
    min-height: 800px;
    background-color: white;
    padding-bottom: 75px;
}