<div class="appt">
<!-- Calendly inline widget begin -->
<!-- <div class="calendly-inline-widget" data-url="https://calendly.com/financeany1?text_color=061D43&primary_color=3AB92D" style="min-width:320px;height:850px;"></div> -->
<!-- <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script> -->
<!-- Calendly inline widget end -->
<div class="calendly-inline-widget" style="min-width:320px;height:850px;" data-auto-load="false"></div>

<!-- <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>  -->
<!-- <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script> -->
  <script>
    
    // function initCalendly() {
    //     Calendly.initInlineWidget({
    //     // url: 'https://calendly.com/financeany1?text_color=061D43&primary_color=3AB92D',
    //     parentElement: document.querySelector('.calendly-inline-widget'),
    //     });
    // }
    // window.onload = function() {
    //     initCalendly();
    //     console.log('hi');
    // }
    
  </script>
</div>