<div class="page-wrapper" *ngIf="isLoaded; else loading">
    <!-- Alert Section -->
    <div class="alert alert-box text-center">
        {{alert_text}}
        <a routerLink="/qualify/certificate-of-eligibility">Click Here</a>
    </div>

    <!-- Hero Section -->
    <div class="hero container-fluid">
        <div class="row">
            <div class="col-md hero-content">
                <ngb-carousel >
                    <ng-container *ngFor="let slide of slides">
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img [src]="slide" alt="..." class="">
                            </div>
                            </ng-template>
                    </ng-container>
                </ngb-carousel>
                <!-- <div class="container rates-box"> -->
                    <!-- <div class="rates-content text-center">
                        <div>30-YR VA 2.651% &nbsp;</div> <div class="rate"> +0.004</div>
                        <iframe src="https://www2.optimalblue.com/OBMMI/widget.php?borders=ffffff&rate=0c2f3d&footer=ffffff&a=3&detailgraphhide=true&graphhide=true&fontSize=11" width="300" height="369" frameBorder="0"></iframe>
                    </div> -->
                    
                <!-- </div> -->
                <div class="container hero-box">
                    <div class="hero-header">
                        {{hero_title}}
                    </div>
                    <!-- <hr class="lines"> -->
                    <div class="call-to-action">
                        <button class="btn btnGreen" routerLink="/qualify/apply">Apply</button>
                        <button class="btn btnGreen" routerLink="/qualify/book-appointment">Book an Appointment</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <!-- Video Section -->
    <div class="video-section container-fluid">
        <div class="header">
            {{video_title}}
        </div>
        <div class="iframe embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" [src]=urlSafe frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
    </div>

    <!-- Testimonial Section -->
    <div class="testimonial banner">
        <div class="testimonial-container">


            
            <div  class="swiper-container" [swiper]="swiperConfig" [(index)]="swiperIndex">
                <div class="swiper-wrapper">
                  <div *ngFor="let card of testimonials" class="swiper-slide testimonial-card">
                    <div class="content">
                        <div class="img-wrapper">
                            <img [src]="card.img" alt="">
                        </div>
                        <p class="quote">{{card.description}}</p>
                        <p class="name">{{card.name}}</p>
                        <p class="location">{{card.city}} {{card.state}}</p>
                    </div>
                  </div>
                  
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                
              </div>

        </div>
    </div>

    <!-- Subscribe Section -->

    <div class="subscribe-container container">
        <div class="subscribe-box">

        </div>
        <div class="header">{{newsletter_title}}</div>
        <div class="subtitle">{{newsletter_subtitle}}</div>
        <form id="contactForm" action="/api/contact" method="POST">
            <input type="text" placeholder="Email" id="email" class="input" name="name" required data-error="Please enter your email">
            <br>
            <button class="btn btnGreen" type="submit">Submit</button>
        </form>
        
    </div>

    <!-- Contact Section -->

    <div class="contact-container container-fluid">
        <div class="row">
            <div class=" col-lg-6 col-md-6 col-sm-12 text-container">

                <div class="header">
                    {{contact_title}}
                </div>
                <div class="description">
                    {{contact_description}}
                </div>
                
            </div>
            <div class="col-lg-6 col-md-12 form-container">

              <div class="contact-block">
                  <form id="contactForm" (ngSubmit)="formSubmit()" #contactForm="ngForm">
                      <div class="row">
                          <div class="col-md-6 col-sm-12">

                          <div class="form-group">
                              <input type="text" class="form-control input" id="name" [(ngModel)]="form.name" name="name" #name="ngModel" placeholder="Your Name" required data-error="Please enter your name">
                              <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                  Name is required
                              </div>
                          </div>               

                          </div>
                          <div class="col-md-6 col-sm-12">
                          <div class="form-group">
                              <input type="text" placeholder="Your Phone Number" id="phone" class="form-control input" [(ngModel)]="form.phone" name="phone" #phone="ngModel" required data-error="Please enter your phone number">
                              <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
                                  Phone is required
                              </div>
                          </div> 

                          </div>
                          <div class="col-md-12">
                          <div class="form-group">
                              <input type="text" placeholder="Your Email" id="email" class="form-control input" [(ngModel)]="form.email" name="email" #email="ngModel" required data-error="Please enter your email">
                              <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                                  Email is required
                              </div>
                          </div> 
                          </div>

                          
                          <div class="col-md-12">
                              <div class="form-group"> 
                                  <textarea class="form-control input" id="message" [(ngModel)]="form.message" name="message" #message="ngModel" placeholder="Your Message" rows="8" data-error="Write your message" required></textarea>
                                  <div [hidden]="message.valid || message.pristine" class="alert alert-danger">
                                      Message is required
                                  </div>
                              </div>

                          <div class="submit-button text-center">
                              <button *ngIf="!submitted && !contactError" class="btn btnGreen" [disabled]="!contactForm.form.valid" id="submit" type="submit">Send Message</button>
                              <!-- <div id="msgSubmit" class="h3 text-center hidden"></div>  -->
                              <!-- <div class="clearfix"></div>  -->
                              <button *ngIf="submitted" class="btn btnGreen" id="submit">Sent!</button>
                              <button *ngIf="contactError" class="alert alert-danger" id="submit">Something went wrong. Try refreshing the page.</button>
                          </div>
                          </div>
                      </div>            
                  </form>
              </div>

          </div>
        </div>

    </div>
</div>

<ng-template #loading>
  <div class="loader-wrapper">
    <div class="loader">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</ng-template>