<div class="page-wrapper">

    <!-- Alert Section -->
    <div class="alert text-center">
        {{alert_text}}
        <a routerLink="/qualify/certificate-of-eligibility">Click Here</a>
    </div>

    <!-- Hero Section -->
    <div class="hero container-fluid">
        <div class="row">
            <div class="col-md hero-content">
                <ngb-carousel >
                    <ng-container *ngFor="let slide of slides">
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img [src]="slide" alt="..." class="img-fluid">
                            </div>
                            </ng-template>
                    </ng-container>
                </ngb-carousel>
                <div class="container rates-box">
                    <div class="rates-content text-center">
                        <div>30-YR VA2.651%</div> <div class="rate">+0.004</div>
                    </div>
                    
                </div>
                <div class="container hero-box">
                    <div class="hero-header">
                        {{hero_title}}
                    </div>
                    <!-- <hr class="lines"> -->
                    <div class="call-to-action">
                        <button class="btn btnGreen" routerLink="/qualify/apply">Apply</button>
                        <button class="btn btnGreen" routerLink="/qualify/book-appointment">Book an Appointment</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <button class="btn btnGreen">test</button>
</div>