@import '../style/app.variables';

// ******************************************************
// 
//  Contact Component
// 
// ******************************************************

.contact-container {
    position: relative;
    width: 100%;
    // background-color: $dark-blue;
    height: 67vh;
    padding-left: 200px;
    @media (max-width: 979px) {
        height: 86vh;
        background-color: $dark-blue;
    }

    @media (max-width: 767px) {
        height: 130vh;
        background-color: $dark-blue;
    }
    
    .background {
        width: calc(100% / 3 * 2 - 100px) ;
        background-color: $dark-blue;
        height: 60vh;

        @media (max-width: 979px) {
            width: 100%;
        }
    }
    
    .content {
        height: 65vh;
        width: 75%;
        position: absolute;
        left: 254px;
        top: 125px;

        @media (max-width: 979px) {
            // height: 140vh;
            // padding-top: 40px;
            width: 100%;
            left: 15px;
        }
        
        // border: 5px green solid;

        .text-box {
            padding-top: 15px;
            color: white;
            font-family: $font;

            @media (max-width: 979px) {
                padding-top: 40px;
                text-align: center;
                // height: 50vh;
            }

            h1 {

                @media (max-width: 1350px) {
                    font-size: 30px;
                }
            }

            p {
                font-family: $font-light-italic;
            }

            h3 {

                @media (max-width: 1350px) {
                    font-size: 18px;
                }
            }

            h2 {
                padding-top: 150px;
                @media (max-width: 1350px) {
                    font-size: 24px;
                    padding-top: 170px;
                }
                @media (max-width: 979px) {
                    padding-top: 20px;
                }
            }
        }

        .contact-block {
            text-align: center;
            border: grey solid 1px;
            background-color: white;
            border-radius: 15px;
            width: 80%;
            padding: 30px 40px 20px 40px;
            // height: 75%;
            // margin-top: 150px;
    
            // @media (max-width: 1300px) {
            //     margin-top: 130px;
            // }
    
            @media (max-width: 900px) {
                margin-top: 60px;
                // height: 90%;
                width: 100%;
            }
    
            @media (max-width: 767px) {
                margin-top: 40px;
                // height: 95%;
                width: 100%;
            }
    
            @media (max-width: 400px) {
                margin-top: 40px;
            }
    
            .input {
                width: 100%;
                border-radius: 5px;
            }
    
            .btnGreen {
                float: left;
            }
        }
    }
}