<div class="page-wrapper" *ngIf="isLoaded; else loading">
    <div class="contact-container container-fluid">
        <div class="background"></div>
        <div class="row content">
            <div class="col-lg-6 col-md-12 text-box">
                <h1 class="">
                    {{title}}
                </h1>
                <p>
                    {{description}}
                </p>
                <br>    
                <br>
                <h2>
                    {{schedule_call_to_action}}
                </h2>
                <button class="btnGreen">Schedule a Consultation</button>
            </div>
            <div class="col-lg-6 col-md-12 form-container">

                <div class="contact-block">
                    <form id="contactForm" (ngSubmit)="formSubmit()" #contactForm="ngForm">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">

                            <div class="form-group">
                                <input type="text" class="form-control input" id="name" [(ngModel)]="form.name" name="name" #name="ngModel" placeholder="Your Name" required data-error="Please enter your name">
                                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                    Name is required
                                </div>
                            </div>               

                            </div>
                            <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="text" placeholder="Your Phone Number" id="phone" class="form-control input" [(ngModel)]="form.phone" name="phone" #phone="ngModel" required data-error="Please enter your phone number">
                                <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
                                    Phone is required
                                </div>
                            </div> 

                            </div>
                            <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" placeholder="Your Email" id="email" class="form-control input" [(ngModel)]="form.email" name="email" #email="ngModel" required data-error="Please enter your email">
                                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                                    Email is required
                                </div>
                            </div> 
                            </div>

                            
                            <div class="col-md-12">
                                <div class="form-group"> 
                                    <textarea class="form-control input" id="message" [(ngModel)]="form.message" name="message" #message="ngModel" placeholder="Your Message" rows="8" data-error="Write your message" required></textarea>
                                    <div [hidden]="message.valid || message.pristine" class="alert alert-danger">
                                        Message is required
                                    </div>
                                </div>

                            <div class="submit-button text-center">
                                <button *ngIf="!submitted && !contactError" class="btn btnGreen" [disabled]="!contactForm.form.valid" id="submit" type="submit">Send Message</button>
                                <!-- <div id="msgSubmit" class="h3 text-center hidden"></div>  -->
                                <!-- <div class="clearfix"></div>  -->
                                <button *ngIf="submitted" class="btn btnGreen" id="submit">Sent!</button>
                                <button *ngIf="contactError" class="alert alert-danger" id="submit">Something went wrong. Try refreshing the page.</button>
                            </div>
                            </div>
                        </div>            
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="loader-wrapper">
      <div class="loader">
        <mat-spinner></mat-spinner>
      </div>
    </div>
</ng-template>