<div class="navbar-container">
    <div class="logo">
        <img src="/assets/images/logo.png" alt="Tidal Realty Logo" routerLink="/home">
    </div>
    <ul [ngClass]="{'responsive': navToggle}" (mouseover)="navToggle=true" (mouseout)="navToggle=false" (click)="closeNav()">
        <li>
            <a routerLink="/home" routerLinkActive="active">
                Home
            </a>
        </li>
        <li>
            <a routerLink="/team" routerLinkActive="active">
                Meet the Team
            </a>
        </li>
        <li >
            <a routerLink="/qualify" routerLinkActive="active">
                Do I Qualify?
            </a>
        </li>
        <li>
            <a routerLink="/contact" routerLinkActive="active">
                Contact Us
            </a>
        </li>
        <li>
            <a routerLink="/blog" routerLinkActive="active">
                Blog
            </a>
        </li>
        <li>
            <a routerLink="/condos" routerLinkActive="active">
                VA Approved Condos
            </a>
        </li>
        <li>
            <a routerLink="/mortgage-calculator" routerLinkActive="active">
                Mortgage Calculator
            </a>
        </li>
    </ul>
    <div class="nav-toggle"> 
        <img src="/assets/images/menu.png" (click)="toggleNav()">
    </div>
</div>
<router-outlet></router-outlet>

<!-- Footer -->

<div class="footer">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="map">
                <img src="../../assets/images/trmap.png" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="address">
                {{address}}
                <br>
                {{phone}}
                <br>
                {{email}}
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="newsletter">
                <div class="header">
                    Join our Newsletter!
                </div>
                <form id="contactForm" action="/api/contact" method="POST">
                    <input type="text" placeholder="Email" id="email" class="input" name="name" required data-error="Please enter your email">
                    <button class="btn btnGreen" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="devdragon">Designed & Developed By DevDragon</div>
    </div>
</div>