<div class="page-wrapper" *ngIf="isLoaded; else loading"
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="0"
(scrolled)="onScroll()">
    <!-- Hero Section -->
    <div class="hero container-fluid">
        <div class="row">
            <div class="col-md hero-content">
                
                <div class="">
                    <img [src]="img" alt="..." class="">
                </div>
                            
                
                <div class="container hero-box">
                    <div class="hero-header">
                        <div class="square"></div>{{title}}
                    </div>
                    <h2>
                        {{subtitle}}
                    </h2>
                    <!-- <hr class="lines"> -->
                    <div class="search">
                        <!-- <input placeholder="Search..." class="input"> -->
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="text-center">
        <mat-form-field class="example-full-width" style="line-height: 28px; width: 400px;">
            <mat-label>Search</mat-label>
            <input matInput  [(ngModel)]="searchInput" #ctrl="ngModel"
                placeholder="">
        </mat-form-field>
        <button mat-icon-button style="outline: none;" (click)="search()"><mat-icon>search</mat-icon></button>
    </div>
    

    <!-- Blog Posts -->
    <div class="blog-posts container">

        <!-- <div class="post">

        </div> -->
        
        <div *ngIf="isLoadedPosts; else loadingPosts">
            <div *ngFor="let group of postsNestedArr"  class="row" style="margin: 0px;"> 
                <div *ngFor="let post of group" class="col-lg-6 col-md-12  post">
                    
                    <div class="img-container">
                        <img [src]="post.image.full_url" class="img-fluid">
                    </div>
                    <h3>{{post.title}}</h3>
                    <p [innerHTML]="post.content"></p>
                    <a [value]="post.id">Read more</a>
                </div>
            </div>\
        </div> 
            <ng-template #loadingPosts>
                <div class="loader-wrapper">
                  <div class="loader">
                    <mat-spinner></mat-spinner>
                  </div>
                </div>
              </ng-template>
    </div>
</div>

<ng-template #loading>
    <div class="loader-wrapper">
      <div class="loader">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </ng-template>