$nav-height: 100px;

$hero-height: 800px;


// @font-face {
//     font-family: "Poppins";
//     src: url('../../assets/fonts/Poppins/Poppins-Medium.ttf');
// }

// $medium-font: 'Poppins';

.page-wrapper{
    margin-top: $nav-height;
}